@using Sitecore.Foundation.Assets
@using Sitecore.Foundation.Assets.Models
@using Sitecore.Foundation.Assets.Services
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Analytics.Extensions
@inherits WebViewPage
@{
    Layout = null;
    string cacheKey = RenderAssetsService.GetPageKey(Request);
}
<!DOCTYPE html>
<!--[if IE 9]><html lang="en" class="ie9 no-js"><![endif]-->
<!--[if !IE]><!-->
<html lang="@Sitecore.Context.Language.CultureInfo.TwoLetterISOLanguageName">
<!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  @if (!Sitecore.Context.PageMode.IsExperienceEditor)
  {
    @Html.Sitecore().Placeholder("head")
  }

  @*Inline Styles Rendering*@
  @Html.Sitecore().CachedRendering("{B14DA82E-F844-4945-8F31-4577A52861E1}", new RenderingCachingSettings { Cacheable = true, CacheKey = cacheKey + "_critical_styles" })

  @Html.Sitecore().VisitorIdentification()
</head>
<body class="header-static @(Sitecore.Context.PageMode.IsNormal ? "" : (Sitecore.Context.PageMode.IsExperienceEditor ? "pagemode-edit" : "pagemode-preview"))">
  <div id="main-container">
    <header class="header-static">
      @Html.Sitecore().Placeholder("header-top")

      @Html.Sitecore().Placeholder("navbar")
    </header>
    <main role="main">
      @Html.Sitecore().Placeholder("page-layout")
    </main>
    <footer class="bg-dark">
      @Html.Sitecore().Placeholder("footer")
    </footer>

    @Html.Sitecore().Placeholder("page-sidebar")
  </div>
  
    @*Styles Rendering Deferred Styles *@
    @Html.Sitecore().CachedRendering("{F04C562A-CBF9-40CF-8CA9-8CE83FDF0BFA}", new RenderingCachingSettings { Cacheable = true, CacheKey = cacheKey + "_bottom_styles" })

    @*Scripts Legacy Jquery jquery-3.2.1 *@
    @Html.Sitecore().CachedRendering("{B0DD36CE-EE4A-4D01-9986-7BEF114196DD}", new RenderingCachingSettings { Cacheable = true, CacheKey = cacheKey + "_bottom_scripts" })

</body>
</html>